/* Container for the entire page */
.st-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* Top section for the add card box */
.st-top-section {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 20px;
  width: 700px;
  max-width: 700px;
  min-width: 700px;
}

.st-add-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 550px;
  max-width: 550px;
}

.st-pic {
  width: 190px;
  height: 50%;
  flex-shrink: 0;
  margin-right: 20px;
}

.st-add-card h2 {
  flex-grow: 1;
  font-size: 1.5rem;
  text-align: left;
}

.st-add-button {
  margin-top: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.st-log-effort {
  margin-top: 0;
  padding: 2px 2px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.st-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
}

.subtask-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  max-height: 1500px;
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: max-height 0.3s ease-out;
}

.subtask-card.expanded {
  max-height: 2000px;
}

.subtask-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.sub-subtask-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.subtask-header h3 {
  margin: 0;
  font-size: 18px;
}

.subtask-header h4 {
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
  color: #666;
}

.priority-yellow {
  background-color: #f1c40f;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.priority-red{
  background-color: rgba(228, 23, 23, 0.866);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.priority-blue{
  background-color: #5bb34a;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.expand-icon {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.subtask-details {
  margin-top: 12px;
  padding: 16px;
}

.sub-subtask-section {
  margin-top: 20px;
  padding-top: 12px;
  border-top: 2px solid #ddd;
}

.sub-subtask-section h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.sub-subtask-section ul {
  list-style-type: none;
  padding-left: 0;
}

.sub-subtask-section ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px; /* Add space between each sub-subtask */
}

.sub-subtask-item .subtask-name {
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 4px;
  width: 60%;
}

.add-module .subtask-name{
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 28px;
  color: #333;
  width: 60%;
}

.time-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 35%;
  align-items: flex-end;
}

.time-bar {
  width: 100%;
  margin-top: 4px;
}

label {
  font-size: 14px;
  color: #333;
}
.efforts{
  display: flex;
  flex-direction: row;
  gap:10px;
}
